.ano {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
}
.ano .footerc {
  align-items: center;
}

.footerc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footerc .footer-item:last-child {
  margin-right: 0;
}


.footer-container {
  background-color: #001c55;
  position: relative;
  display: flex;
  width: 100%;
  font-family: 'Work_Sans';
  color: #a6e1fa;
  flex-direction: column;
  align-items: center;
}


.footer-item {
  font-size: 2rem;
  position: relative;
  padding-left: 5%;
  margin-bottom: 10px; ;
}

.footer-image-container {
  display: flex;
}

.footer-image {
  width: 75px;
  height: 75px;
}

.footer-text {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  position: relative;
}

.footer-divider {
  border-style: solid;
  border-width: 1px;
  border-color: #00256f;
  width: 100%;
  height: 32px;
  position: relative;
}



/* Media queries pro tablet a telefon */

@media screen and (max-width: 768px) {
  /* Styly pro tablety */
  .ano {
    width: 100%; /* Nastavte šířku na 100% na tabletech */
    padding: 0 10px; /* Přidejte vodorovné polštářky na tablety */
  }

  .ano .footerc {
    align-items: flex-start; /* Zarovnání na začátek na tabletech */
  }

  .footer-item {
    font-size: 1.5rem; /* Menší velikost fontu na tabletech */
  }

  .footer-image {
    width: 50px; /* Menší velikost obrázku na tabletech */
    height: 50px; /* Menší velikost obrázku na tabletech */
  }

  .footer-text {
    font-size: 18px; /* Menší velikost fontu na tabletech */
    line-height: 18px; /* Menší výška řádku na tabletech */
  }

  .footer-divider {
    height: 16px; /* Menší výška oddělovače na tabletech */
  }
}

@media screen and (max-width: 480px) {
  /* Styly pro telefony */
  .ano {
    flex-direction: column; /* Na telefonech uspořádejte flex prvky ve sloupci */
    align-items: flex-start; /* Zarovnání na začátek na telefonech */
  }

  .ano .footerc {
    align-items: flex-start; /* Zarovnání na začátek na telefonech */
  }

  .footer-item {
    font-size: 1.2rem; /* Menší velikost fontu na telefonech */
  }

  .footer-image {
    width: 40px; /* Menší velikost obrázku na telefonech */
    height: 40px; /* Menší velikost obrázku na telefonech */
  }

  .footer-text {
    font-size: 16px; /* Menší velikost fontu na telefonech */
    line-height: 16px; /* Menší výška řádku na telefonech */
  }

  .footer-divider {
    height: 12px; /* Menší výška oddělovače na telefonech */
  }
}
