/* styles.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  padding-right: 20px;
}

div > h2 {
  color: #007bff;
}

/* Styly pro Intro */
.intro {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.intro p {
  font-size: 2rem;
  font-weight: bold;
  max-width: 50%; 
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #0056b3;
}



/* Styly pro vstupní pole a textové pole */
.cont {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styly pro tlačítko odeslání */
.yes button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover efekt pro tlačítko */
.yes button:hover {
  background-color: #45a049;
}


/* Skills Styles */
.skills {
  position: relative;
  text-align: center;
  color: #fff;
}

.skills img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}

.skill-item {
  background-color: #0056b3;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Portfolio Styles */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio img {
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 1rem;
}



/* Styly pro formulář */
.yes {
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Media queries pro tablety a telefony */

/* Obecné styly pro responsivitu */
@media screen and (max-width: 768px) {
  /* Styly pro tablety */
  .intro p {
    font-size: 1.5rem; /* Menší velikost fontu na tabletech */
    max-width: 100%; /* Na tabletech rozšířte maximální šířku na 100% */
  }

  .social-links a {
    font-size: 1rem; /* Menší velikost fontu na tabletech */
  }

  .skill-item {
    margin: 0.3rem; /* Menší odsazení na tabletech */
  }

  .portfolio img {
    width: 100%; /* Na tabletech nastavte šířku obrázku na 100% */
    max-width: none; /* Na tabletech zrušte maximální šířku obrázku */
  }
}

@media screen and (max-width: 480px) {
  /* Styly pro telefony */
  .intro p {
    font-size: 1.2rem; /* Menší velikost fontu na telefonech */
  }

  .social-links a {
    font-size: 0.9rem; /* Menší velikost fontu na telefonech */
  }

  .skill-item {
    margin: 0.2rem; /* Menší odsazení na telefonech */
  }

  .portfolio img {
    width: 100%; /* Na telefonech nastavte šířku obrázku na 100% */
    max-width: none; /* Na telefonech zrušte maximální šířku obrázku */
    margin: 0.5rem 0; /* Odsazení obrázku na telefonech */
  }
}

