/* styles.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  padding-right: 20px;
}

div > h2 {
  color: #007bff;
}

/* Styly pro Intro */
.intro {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.intro p {
  font-size: 2rem;
  font-weight: bold;
  max-width: 50%; 
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #0056b3;
}



/* Styly pro vstupní pole a textové pole */
.cont {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styly pro tlačítko odeslání */
.yes button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover efekt pro tlačítko */
.yes button:hover {
  background-color: #45a049;
}


/* Skills Styles */
.skills {
  text-align: center;
    padding: 60px;
    display: flex;
    justify-content: center;
    margin-right: 55px;
    margin-bottom: 100px;
}

.circle {
  display: inline-block;
  position: relative;
}

.circle h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  position: relative;

}

.skill-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  animation: rotateSkills 10s linear infinite; 
  
}

.skill-item {
  position: absolute;
  width: 100%;  
  height: 100%;
  transform-origin: 50% 100%;
  text-align: center;
  background-color: #0056b3;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}


.skill-item:nth-child(1) { transform: rotate(0deg); }
.skill-item:nth-child(2) { transform: rotate(60deg); }
.skill-item:nth-child(3) { transform: rotate(120deg); }
.skill-item:nth-child(4) { transform: rotate(180deg); }
.skill-item:nth-child(5) { transform: rotate(240deg); }
.skill-item:nth-child(6) { transform: rotate(300deg); }

@keyframes rotateSkills {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.skills img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}


/* Portfolio Styles */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio img {
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 1rem;
}



/* Styly pro formulář */
.yes {
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Media queries pro tablety a telefony */

/* Obecné styly pro responsivitu */
@media screen and (max-width: 768px) {
  /* Styly pro tablety */
  .intro p {
    font-size: 1.5rem; /* Menší velikost fontu na tabletech */
    max-width: 100%; /* Na tabletech rozšířte maximální šířku na 100% */
  }

  .social-links a {
    font-size: 1rem; /* Menší velikost fontu na tabletech */
  }

  .skill-item {
    margin: 0.3rem; /* Menší odsazení na tabletech */
  }

  .portfolio img {
    width: 100%; /* Na tabletech nastavte šířku obrázku na 100% */
    max-width: none; /* Na tabletech zrušte maximální šířku obrázku */
  }
}

@media screen and (max-width: 480px) {
  /* Styly pro telefony */
  .intro p {
    font-size: 1.2rem; /* Menší velikost fontu na telefonech */
  }

  .social-links a {
    font-size: 0.9rem; /* Menší velikost fontu na telefonech */
  }

  .skill-item {
    margin: 0.2rem; /* Menší odsazení na telefonech */
  }

  .portfolio img {
    width: 100%; /* Na telefonech nastavte šířku obrázku na 100% */
    max-width: none; /* Na telefonech zrušte maximální šířku obrázku */
    margin: 0.5rem 0; /* Odsazení obrázku na telefonech */
  }
  .skills {
    text-align: center;
      padding: 60px;
      display: flex;
      justify-content: center;
      margin-right: 0px;
      margin-bottom: 100px;
  }

  .skill-container {
    position: absolute;
    top: 50%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
  }
  
}

