/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Upraveno na sloupcový layout */
}

.navbar div {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem; /* Upraveno na margin-bottom pro oddělení od odkazů */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem; /* Odsazení odkazů */
  font-size: 1.5rem;
  font-weight: normal;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #007bff;
}
