/* Navbar Styles */
.navbar {
  background-color: #2e1438;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Sloupcový layout */
}

.navbar div {
  font-size: 3rem;
  font-weight: bold;
}


.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem; /* Odsazení odkazů */
  font-size: 1.5rem;
  font-weight: normal;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #007bff;
}

@media screen and (max-width: 850px) {
  /* Responsivita pro tablety */
  .navbar div {
    font-size: 2rem; /* Menší font na tabletech */
  }

  .navbar a {
    font-size: 1rem; /* Menší font na tabletech */
    margin: 0.3rem; /* Menší odsazení na tabletech */
  }
}

@media screen and (max-width: 480px) {
  /* Responsivita pro telefony */
  .navbar div {
    font-size: 1.5rem; /* Menší font na telefonech */
  }

  .navbar a {
    font-size: 1rem; /* Menší font na telefonech */
    margin: 0.2rem; /* Menší odsazení na telefonech */
  }
}
